/* Write your CSS here */
@media screen and (min-width: 768px) {
  .container-notFound {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .not-found-heading {
    font-size: 35px;
    font-family: Bee serif;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .container-notFound {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .not-found-heading {
    font-size: 35px;
    font-family: Bee serif;
    color: white;
  }
}
